{% extends 'base.html' %}
{% block title %}Детальный просмотр{% endblock %}
{% block link %}
    {% if user.is_authenticated %}
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'to_do_list:add_task' data.id %}">Добавить
                    задачу</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ data.summary }}</h5>
            <p class="card-text">{{ data.description }}</p>

            <p class="card-text">Участники:<strong>
                {% for author in data.author.all %}
                    {{ author }}{% if not forloop.last %},
                    {% endif %}
                {% endfor %}</strong></p>

            <p class="card-text">Дата старта проекта: {{ data.start_date|date:'Y-m-d' }}</p>
            <p class="card-text">Дата окончания старта: {{ data.end_date|date:'Y-m-d' }}</p>
            {% if user.is_authenticated %}
                <a href="{% url 'to_do_list:project_edit' data.id %}" class="btn btn-primary">Изменить</a>
                <a href="{% url 'to_do_list:project_add_author' data.id %}" class="btn btn-primary">Добавить соавторов</a>
                <a href="{% url 'to_do_list:delete_project' data.id %}" class="btn btn-danger">Удалить</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% for list in tasks %}
            <div class="col-sm-2 mb-3 d-flex">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ list.summary }}</h5>
                        <p class="card-text">{{ list.description }}</p>
                        <div class="card_link">
                            <a href="{% url 'to_do_list:task_detail' list.id %}"
                               class="btn btn-primary stretched-link">Детальный
                                просмотр</a>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <span>Создайте задачу</span>
        {% endfor %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}

    </div>
{% endblock %}