{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block search %}
    <form class="d-flex" role="search">
        <input class="form-control me-2" name="search" type="search" placeholder="Что ищем?" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
    </form>
{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        {% for list in projects %}
            <div class="col-sm-2 mb-3 d-flex">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ list.summary }}</h5>
                        <p class="card-text">{{ list.description }}</p>
                        <div class="card_link">
                            <a href="{% url 'project_detail' list.id %}" class="btn btn-primary stretched-link">Детальный
                                просмотр</a>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <span>Создайте задачу</span>
        {% endfor %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}

    </div>
{% endblock %}