{% extends 'base.html' %}
{% block title %}Детальный просмотр{% endblock %}
{% block content %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ data.summary }}</h5>
            <p class="card-text">{{ data.description }}</p>
            <p class="card-text"><strong>
                {% for task in data.tasks.all %}
                    {{ task.title }}{% if not forloop.last %},
                    {% endif %}
                {% endfor %}:</strong> {{ data.status }}</p>
            <p class="card-text">Дата добавления: {{ data.create_date|date:'Y-m-d H:i' }}</p>
            <p class="card-text">Дата обновления: {{ data.update_date|date:'Y-m-d H:i' }}</p>
            {% if user.is_authenticated %}
                {% if perms.to_do_list_v2.change_todolistmodels and request.user in data.project.author.all %}
                    <a href="{% url 'to_do_list:task_edit' data.id %}" class="btn btn-primary">Изменить</a>
                {% endif %}
                {% if perms.to_do_list_v2.delete_todolistmodels and request.user in data.project.author.all %}
                    <a href="{% url 'to_do_list:delete_task' data.id %}" class="btn btn-danger">Удалить</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}